<table class="table table-hover">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Post Code</th>
    <th>Country</th>
  </thead>
  <tr *ngFor="let cl of service.list">
    <td>{{cl.clientID}}</td>
    <td>{{cl.clientName}}</td>
    <td>{{cl.clientAddress}}</td>
    <td>{{cl.clientCity}}</td>
    <td>{{cl.clientState}}</td>
    <td>{{cl.clientPostCode}}</td>
    <td>{{cl.clientCountry}}</td>
    <td>

      <i class="fas fa-user-edit fa-lg" (click)="populateForm(cl)" data-toggle="tooltip" data-placement="top" title="Edit"></i>
    </td>
    <td>

      <i class="fas fa-trash-alt fa-lg text-danger" (click)="onDelete(cl.clientID)" data-toggle="tooltip" data-placement="top" title="Delete"></i>
    </td>
  </tr>
</table>

  
